.cartItem{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: 2px solid var(--border-color-2);
  border-radius: 1rem;
  padding-block: var(--card-block-padding);
  padding-inline: var(--card-inline-padding);
  font-weight: 500;
}

.heading{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.productName{
  color: var(--font-link-colour);
  text-decoration: none;
  cursor: pointer;
  margin-inline-end: auto;
}

.productName:hover,
.productName:focus-visible{
  text-decoration: underline;
}

.removeButton{
  padding: 0;
  margin: 0;
  background-color: var(--background-colour);
  border: 2px solid var(--border-color);
  cursor: pointer;
  border-radius: 0.5rem;
}

.removeButton:hover,
.removeButton:focus-visible{
  border-color: var(--border-color-1);
  background-color: var(--background-colour-3);
}

.crossImg{
  display: block;
  inline-size: 1.75rem;
  aspect-ratio: 1 / 1;
}

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.wrapperRow{
  display: grid;
  grid-template-columns: var(--image-size) auto;
  gap: 1rem;
}

.productImage{
  grid-column: 1 / 2;
  display: block;
  inline-size: var(--image-size);
  block-size: auto;
}

.wrapperInfo{
  grid-column: 2 / 3;
  justify-self: center;
}

.quantity{
  align-self: center;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.total{
  align-self: center;
}

@media (min-width: 31rem) {
  .wrapperInfo{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}


@media (min-width: 48rem) {
  .cartItem{
    gap: 0.5rem;
    padding-block: var(--card-block-padding) 1rem;
    padding-inline: 1.5rem var(--card-inline-padding);
  }

  .wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.25rem;
  }

  .quantity{
    justify-self: center;
  }

  .total{
    justify-self: center;
  }

  .mobile{
    display: none;
  }
}