.footer{
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  background-color: var(--background-colour-2);
  color: var(--font-text-colour-2);
}

.copyright{
  font-size: var(--font-text-smaller);
  margin-inline-end: auto;
}

.logo{
  display: block;
  inline-size: 2rem;
  aspect-ratio: 1 / 1;
  filter: invert(100%) brightness(200%);
}

.logo:focus-visible {
  filter: invert(41%) sepia(98%) saturate(4884%) hue-rotate(349deg) brightness(101%) contrast(105%);
}
@media (hover: hover) {
  .logo:hover{
    filter: invert(41%) sepia(98%) saturate(4884%) hue-rotate(349deg) brightness(101%) contrast(105%);
  }
}
.desktop{
  display: none;
}

@media (min-width: 48rem){
  .desktop{
    display: block;
  }

  .logo{
    inline-size: 1.5rem;
  }
}
